In [1]:
print("Hello world")

Hello world

In [2]:
import sys
print(sys.version)

3.12.2 (tags/v3.12.2:6abddd9, Feb  6 2024, 21:26:36) [MSC v.1937 64 bit (AMD64)]

In [3]:
if 5>2:
    print("Five is greater than two!")

Five is greater than two!

In [4]:
if 5>2:
    print("Five is greater than two!")
    if 5>2:
        print('Five is greater than two!')

Five is greater than two!
Five is greater than two!

In [5]:
#print("Hello world")

In [6]:
"""print("Hello world")"""

'print("Hello world")'

In [7]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [8]:
x=4
x="Sally"
print(x)

Sally

In [9]:
x = str(3)
y = int(3)
z = float(3)

In [10]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [11]:
x = "John"
# is the same as
x = 'John'

In [12]:
a = 4
A = "Sally"
#A will not overwrite a

In [13]:
x, y, z = "Orange", "Banana", "Chary"
print(x)
print(y)
print(z)

Orange
Banana
Chary

In [14]:
x=y=z="Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [15]:
fruits = ["apple", "banana", "cherry"]
x,y,z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [16]:
x = "Python"
y = "is"
z = "awesome"
print(x,y,z)

Python is awesome

In [17]:
x = "Python"
y = "is"
z = "awesome"
print(x+y+z)

Pythonisawesome

In [18]:
x = 5
y = 10
print(x+y)

15

In [19]:
x = 5
y = "John"
print(x,y)

5 John

In [20]:
x = "awesome"

def myfunc():
    print("Python is " + x)
myfunc()

Python is awesome

In [21]:
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)
myfunc()
print("Python is " + x)

Python is fantastic
Python is awesome

In [22]:
def myfunc():
    global x
    x = "fantastic"
myfunc()
print("python is " + x)

python is fantastic

In [23]:
x = "awesome"
def myfunc():
    global x
    x = "fantastic"
myfunc()
print("Python is " + x)

Python is fantastic

In [24]:
a = 1.10
b = 1.0
z = -35.59
print(type(a))
print(type(b))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [25]:
x = float(1)
s = float(2.8)
g = float("3")

In [26]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [27]:
a = "hello"
print(a)

hello

In [28]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [29]:
a = "Hello, World!"
print(a[1])

e

In [30]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [31]:
a = "Hello, World"
print(len(a))

12

In [32]:
txt = "The best things in life are free"
print("free" in txt)

True

In [33]:
txt = "The best things in life are free"
if "free" in txt:
    print("yes, 'free' is present")

yes, 'free' is present

In [34]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [35]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [36]:
b = "Hello, World!"
print(b[2:5])

llo

In [37]:
b = "Hello, World!"
print(b[:5])

Hello

In [38]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [39]:
g = "Hello, World!"
print(a.upper())

HELLO, WORLD

In [41]:
g = "apple"
print(g.lower())

apple

In [42]:
a = " Cherry "
print(a.strip())

Cherry

In [43]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [44]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [45]:
a = "Hello"
b = "World"
c = a+b
print(c)

HelloWorld

In [46]:
a = "Hello"
b = "World"
c = a + " " +b
print(c)

Hello World

In [47]:
age = 18
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 18

In [48]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [49]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [50]:
txt = "We are the so-called \"Vikings\" from the north. "